# Database connection string (PostgreSQL)
DATABASE_URL="postgresql://username:password@localhost:5432/seccuregate?schema=public"

# NextAuth configuration
NEXTAUTH_SECRET="generate-a-secure-secret-key-with-openssl-rand-hex-32"
NEXTAUTH_URL="http://localhost:3000"

# Application URL (for generating email verification and password reset links)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Resend API Key for sending emails
RESEND_API_KEY="re_123456789"
SENDER_EMAIL="SeccureGate <security@yourdomain.com>"
